// Override bootstrap variables
@import "app/variables";

// Bootstrap
@import "bootstrap/bootstrap/_mixins";

// Global definition of media queries
@import "app/media-queries";
// Utilities 
@import "app/utils-definitions";

// Bootstrap reset
@import "app/bootstrap-reset";

// Typography
@import "app/typo";

// Layout
@import "app/layout";
@import "app/layout-extra";
@import "app/layout-animation";
@import "app/top-navbar";
@import "app/sidebar";

// Components
@import "app/breadcrumbs";
@import "app/button-extra";
@import "app/user-block";
@import "app/row-extra";
@import "app/animate";
@import "app/image-gallery";
@import "app/orders";

// Form elements
@import "app/form-elements";
@import "app/form-tags";

// Utilities 
@import "app/utils";

// Print CSS
@import "app/print";

@import "bootstrap-tagsinput";
