language: node_js

node_js:
- "node"

cache:
  directories:
  - node_modules

env:
  global:
  - ENV=TEST
  - ADDRESS=0.0.0.0
  - PORT=10000
  - AUTH0_KEY=null
  - AUTH0_DOMAIN=null
  - FILESTACK_KEY=null
  - IDENTITY_SERVICE_PUBLIC_DOMAIN=null
  - INVENTORY_SERVICE_PUBLIC_DOMAIN=null

install:
- npm install --progress=false
- npm run build

script:
- npm run test-travis

# after_success: 
# - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

deploy:
- provider: script
  skip_cleanup: true
  script: bin/togemfury.sh
- provider: heroku
  app: ocelot-saas-admin
  api_key:
    secure: "U6x1sexAKAkPjPzkQD7x8OvqdhFUZNjmM+DJwT4eOxh8pJdaUTktwMBZtNBs3OZ+m0BFtPYGrEU5UrYHhDbvmfC4QXiGG0RsST2rPudMQ6o/pWClmVatBLWcfuNcw/tRjfOTWudkSLhc1Y09fzC5BfN7GQk6+oPoPHBlUwGmQEQbmevSXq4ODYLk8rk9GQTGbF5sEtVZxFkonbSKTSiiG/5JNZ2TE6EW5KunFFR9lAilk8RV1v0wj40fdZHSOBVYJX66nkn0jVBDHhN6FUdowpWJkYYUS7LpTXEgtiGJmXJT+X6BtCfMnKRW/Da3MhZPr+X/GNS38Nk9OYfMEiMFIYxtXu9bCSQP87T23SkU+bdSrlpMqHBEBCbXzLujUcit/WwdJduqLnuaZQZaaHZV9KXhSkHT0V6uJ5BSkH0Em8uGu6kOugTUI8OJfBelzy3B6BNVlYL2PlThpe6gPYJp5Wz+PePRolimDi0xZAHHVnagflVU9M1WMELh2BI1Vdt2sC/T5xBtDxEHkvpT1ToJ7nAp6KOsCEnyPQT+6mJRog/Rei43V68ZZMrGD6OYh+mwfxJIU4FiPwsKIKK6AIPm+ybBcchuskcboaXVGwznkboGFnqdo/4H3tpxxcXOECjfFzruh8bp4fJADZw/W0GSwM3cQbbLjFRi6wfcSJpWBsE="
